*{
    box-sizing: border-box;
}
html{
  background-color: rgb(201, 226, 242);
}
h2 {
    padding: 35px 0 15px 0 ;
    text-align: center;
    font-size: 30px;
}
h4{
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}
p{
    font-size: 20px;
    margin: 5px 0 0 0;
    font-weight: bold;
}
.album-img {         
  width: 120px;
  height: 120px;   
  object-fit: cover;      
  border-radius: 5px;     
}
.album-aaa {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #E490B4;  
}
.aaa {
    text-align: right;
    color: #000;
}
.album-assemble {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #000000;  
}
.assemble {
    text-align: right;
    color: #ffffff;
}
.album-kre {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #DECEC3;  
}
.kre {
    text-align: right;
    color: #000000;
}
.album-love {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #73B3ED;  
}
.love {
    text-align: right;
    color: #ffffff;
}
.album-evol {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #5983A0;  
}
.evol {
    text-align: right;
    color: #000000;
}
.album-aria {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #E4E4E4;  
}
.aria {
    text-align: right;
    color: #000000;
}
.album-nxt {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #2BA3BB;  
}
.nxt {
    text-align: right;
    color: #ffffff;
}
.album-assemble24 {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #000000;  
}
.assemble24 {
    text-align: right;
    color: #ffffff;
}
.album-glow {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #B8427F;  
}
.glow {
    text-align: right;
    color: #000000;
}
.album-vv {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #2D4658;  
}
.vv {
    text-align: right;
    color: #ffffff;
}
.album-hatch {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #CCD1D7;  
}
.hatch {
    text-align: right;
    color: #000000;
}
.album-assemble25 {
  display: flex;         
  align-items: center;   
  justify-content: space-between; 
  padding: 15px 40px;    
  margin-bottom: 10px;    
  width: 100%;            
  min-height: 120px;    
  background-color: #242424;  
}
.assemble25 {
    text-align: right;
    color: #ffffff;
}
.album{
    margin: 0 auto;
    max-width: 1000px;
}