.menu{
    position: fixed;  
    top: 0;                    
    width: 98%;       
    z-index: 1000;     
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 50px;
    background-color:rgb(201, 226, 242);
}
.menu ul{
    list-style: none;               
    display: flex;
     margin: 0;
     padding: 0;
     gap: 30px;
}
.header1,.header2,.header3 {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color:rgb(201, 226, 242);
    text-decoration:none;
}
.header1:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgb(201, 226, 242);
    background-color: rgb(255, 255, 255);
    text-decoration:none;
    border-radius: 5PX;
}
.header2:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgb(201, 226, 242);
    background-color: rgb(255, 255, 255);
    text-decoration:none;
    border-radius: 5PX;
}
.header3:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgb(201, 226, 242);
    background-color: rgb(255, 255, 255);
    text-decoration:none;
    border-radius: 5PX;
}
html{
            scroll-behavior: smooth;
            background-color: lightgrey;
        }


