*{
    box-sizing: border-box;
        }
html{
    background-color: rgb(201, 226, 242);
}
h2{
    padding: 35px 0 15px 0 ;
    text-align: center;
    font-size: 30px;
        }
.member {
    width: 100%;
    height: 270px;
    border-radius: 5px;
}
.logo-aaa{
    background-color: #EB1471;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#fff;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1000px;
    height: 135px;
}
.aaa{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;
}
.logo-kre{
    background-color: #FC83A4;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#fff;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1000px;
    height: 135px;
}
.kre{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;
}
.logo-love{
    background-color: #73B3ED;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#fff;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1000px;
    height: 135px;
}
.love{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;
}
.logo-evol{
    background-color: #5983A0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#fff;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1000px;
    height: 135px;
}
.evol{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;
}
.logo-aria{
    background-color: #E4E4E4;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#000000;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1000px;
    height: 135px;
}
.aria{
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;
}
.logo-nxt{
    background-color: #2BA3BB;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#ffffff;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1000px;
    height: 135px;
}
.nxt{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;
}
.logo-glow{
    background-color: #B8427F;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#ffffff;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1000px;
    height: 135px;
}
.glow{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;
}
.logo-vv{
    background-color: #2D4658;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#ffffff;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1000px;
    height: 135px;
}
.vv{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;
}
.logo-hatch{
    background-color: #5983A0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#ffffff;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1000px;
    height: 135px;
}
.hatch{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto;
}